:root {
  --white: #ffffff;
  --orange: orange;
}

h1 {
  font-family: "Bellerose", sans-serif;
}

.form-label {
  font-size: 20px;
}

.about-img {
  display: flex;
}
.img-circle {
  padding-top: 10px;
  border-radius: 10%;
  padding: 10px;
  margin: auto;
  background-color: #84ceeb;
}

.portfolio-container {
  padding: 10px;
}

.image-box {
  padding: 5px;
}

p {
  font-size: 22px;
  font-family: "Bellerose", sans-serif;
}

footer i {
  padding: 0px 20px;
}

.footer-container {
  padding: 20px;
}

footer {
  color: #84ceeb;
  padding-top: 10px;
}

#cards_landscape_wrap-2 {
  text-align: center;
}

#cards_landscape_wrap-2 .image-box {
  overflow: hidden;
}

#cards_landscape_wrap-2 .image-box img {
  transition: 0.9s ease;
  width: 100%;
  height: 200px;
}

#cards_landscape_wrap-2 .img-wrap:hover {
  transition: 0.9s ease;
  width: 100%;
  height: 200px;
  box-shadow: 5px 10px 20px black;
  overflow: hidden;
}

#cards_landscape_wrap-2 .img-wrap:hover .image-box img {
  opacity: 0.4;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

#cards_landscape_wrap-2 {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .text-box a {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--black);
  text-decoration: underline;
}

.content-container {
  min-height: calc(100vh - 170px);
}
.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

.about-container {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-weight: bold;
  font-size: 18px;
}

.resume {
  text-decoration: none;
}

.img-wrap {
  position: relative;
}

.img-description {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
  font-family: "Bellerose", sans-serif;
  font-weight: bold;
}

.img-wrap:hover .portfolio-title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-wrap .portfolio-title:hover,
.img-wrap .githubicon:hover,
.icon-container .footer-icons:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in;
}

.footer-icons {
  transition: 0.9s ease-out;
}
