:root {
  --white: #ffffff;
  --orange: orange;
  --darkmagenta: darkmagenta;
}

/* .container-fluid.container-padding-override {
  padding: 0;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

.navbar-toggler {
  background-color: white;
}

nav {
  font-family: Times;
  padding: 15px;
}

.navbar-brand {
  font-size: 50px;
}

.navbar-light .navbar-brand {
  color: var(--white);
}

.navbar-light .navbar-brand:hover {
  color: var(--white);
}

.nav-item {
  font-size: 25px;
}

.nav-item::before {
  content: "💫";
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--white);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--orange);
}

.img-circle {
  border-radius: 50%;
}

.about-content {
  align-items: center;
}

.content-container h2 {
  color: var(--orange);
  text-decoration: underline;
}

p {
  font-size: 22px;
}

.about-me-container-fluid {
  padding-top: 35px;
}

h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

#contact-me {
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 25px;
  text-align: center;
}

footer i {
  padding: 0px 20px;
}

i:hover {
  transform: scale(1.15);
}

footer {
  color: var(--orange);
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

#cards_landscape_wrap-2 {
  text-align: center;
}
#cards_landscape_wrap-2 .container {
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgb(226, 2, 255);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  align-items: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(232, 139, 255, 0.959);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--black);
}

#cards_landscape_wrap-2 .card-flyer .text-box a {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--black);
  text-decoration: underline;
}

#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

.content-container {
  min-height: calc(100vh - 150px);
}
.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}
